# really just need to import ExpressionSet class from Biobase!!
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(graph, graph)
importClassesFrom(Rgraphviz, Ragraph)
importClassesFrom(MVCClass, gModel)
importClassesFrom(MVCClass, genView)
importClassesFrom(MVCClass, plotView)

# export all classes
exportClasses(graphModel, exprModel, graphView, heatmapView,
              GSE, gseModel)

# export all generic functions and methods
exportMethods(ordering, grLayout, rNames, 
              "ordering<-", "grLayout<-", "rNames<-",   
              incidMat, gTestStat, gsTestStat, expData, descr,
              "incidMat<-", "gTestStat<-", "gsTestStat<-", "expData<-",
              "descr<-")
